@import url(//db.onlinewebfonts.com/c/c74edeaf658e851e2c71f78b2a28d352?family=NeoSans);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Inter var';
    src: url("fonts/Inter-Black.woff") format('opentype');
    src: url("fonts/Inter-Black.woff2") format('opentype');
    src: url("fontsInter-BlackItalic.woff") format('opentype');
    src: url("fonts/Inter-BlackItalic.woff2") format('opentype');
    src: url("fonts/Inter-Bold.woff") format('opentype');
    src: url("fonts/Inter-Bold.woff2") format('opentype');
    src: url("fonts/Inter-BoldItalic.woff") format('opentype');
    src: url("fonts/Inter-BoldItalic.woff2") format('opentype');
    src: url("fonts/Inter-ExtraBold.woff") format('opentype');
    src: url("fonts/Inter-ExtraBold.woff2") format('opentype');
    src: url("fonts/Inter-ExtraBoldItalic.woff") format('opentype');
    src: url("fonts/Inter-ExtraLight.woff") format('opentype');
    src: url("fonts/Inter-ExtraLight.woff2") format('opentype');
    src: url("fonts/Inter-Light.woff") format('opentype');
    src: url("fonts/Inter-Light.woff2") format('opentype');
    src: url("fonts/Inter-Medium.woff") format('opentype');
    src: url("fonts/Inter-Regular.woff") format('opentype');
    src: url("fonts/Inter-Regular.woff2") format('opentype');
    src: url("fonts/Inter-SemiBold.woff") format('opentype');
    src: url("fonts/Inter-SemiBold.woff2") format('opentype');
    src: url("fonts/Inter-Thin.woff") format('opentype');
    src: url("fonts/Inter-Thin.woff2") format('opentype');
}

@font-face{
    font-family: 'Inter var';
    src: url("fonts/Inter-ExtraBold.woff") format('opentype');
    font-weight: 900;
}
@font-face{
    font-family: 'Inter var';
    src: url("fonts/Inter-Bold.woff") format('opentype');
    font-weight: bold;
}
@font-face{
    font-family: 'Inter var';
    src: url("fonts/Inter-Regular.woff") format('opentype');
    font-weight: 400;
}
@font-face{
    font-family: 'Inter var';
    src: url("fonts/Inter-Medium.woff") format('opentype');
    font-weight: 500;
}
@font-face{
    font-family: 'Inter var';
    src: url("fonts/Inter-SemiBold.woff") format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: 'NeoSans';
    src: url("fonts2/Neo\ Sans\ Std\ Bold.zip");
    src: url("fonts2/Neo\ Sans\ Std\ Light.zip");
    src: url("fonts2/Neo\ Sans\ Std\ Regular.zip");
}

@font-face {
    font-family: 'NeoSans';
    src: url("fonts2/Neo\ Sans\ Std\ Bold.zip");
    font-weight: 400;
}

@font-face {
    font-family: 'NeoSans';
    src: url("fonts2/Neo\ Sans\ Std\ Regular.zip");
    font-weight: 500;
}

@font-face {
    font-family: 'NeoSans';
    src: url("fonts2/Neo\ Sans\ Std\ Regular.zip");
    font-weight: 700;
}

body{
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Inter var', sans-serif;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

header{
    width: 100%;
    height: 44px;
    background-color: #4351e8;
    font-family: 'NeoSans', sans-serif;
    position: relative;
    z-index: 1000;
    /* display: flex; */
    /* justify-content: center; */
}

.header-container{
    height: 100%;
    width: 100%;
    /* margin-inline: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.announcement{
    color: rgb(67, 81, 232);
    background-color: rgb(138, 250, 220);
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0.5px;
    font-weight: 400;
    border-radius: 5px;
    padding-inline: 6px;
}

.announcement-details{
    font-size: 15px;
    line-height: 22.5px;
    letter-spacing: 0.2px;
    font-weight: 400;
    color: white;
    white-space: nowrap;
}

.announcement-details:hover{
    color: rgb(81, 232, 191);
}

nav{
    width: 100%;
    height: 52px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
}

.navbar{
    width: 93%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul{
    display: flex;
}

.navbar ul .list-item{
    margin-right: 1.5rem;
}
.navbar ul .list-item a{
    color: rgb(24,27, 56);
    font-size: 14px;
    font-weight: 500;
}

.navbar ul .list-item .get-started-btn{
    background-color: #4351e8;
    color: white;
    padding: 0.6em 1.14em;
    border-radius: 1rem;
}

.navbar ul .list-item .get-started-btn:hover{
    background-color: #4f65f1;
}

.navbar ul .list-item .sign-in-btn{
    color: #4351e8;
    border: 1px solid rgba(79, 101, 241, 0.36);
    padding: 0.6em 1.14em;
    border-radius: 1rem;
}

.navbar ul .list-item .sign-in-btn:hover{
    border-color: #2642f1;
    color: #2642f1;
}

.navbar ul .hamburger{
    display: none;
    width: 26px;
    height: 20px;
}

.navbar ul .hamburger .hamburger-container{
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.nav-half-line{
    width: 20px;
    height: 3px;
    background-color: #6f759c;
    border-radius: 100px;
}

.nav-full-line{
    width: 26px;
    height: 3px;
    background-color: #6f759c;
    border-radius: 100px;
}

main{
    width: 100%;
    height: 300vh;
}

.hero-container{
    height: 120vh;
    background-color: #eef2f5;
}

.main-hero-section{
    height: 90%;
    width: 100%;
    background-image: url(/img/hero-container-img/main-hero-img/first-section-background.svg);
    background-size: 3000px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    overflow-x: hidden;
}

.custom-shape-divider-bottom-1671010407 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1671010407 svg {
    position: relative;
    display: block;
    width: calc(195% + 1.3px);
    height: 286px;
}

.custom-shape-divider-bottom-1671010407 .shape-fill {
    fill: #eef2f5;
}

.custom-shape-divider-bottom-1671013283{
    display: none;
}

.custom-shape-divider-bottom-1671016006 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    display: none;
}

.custom-shape-divider-bottom-1671016006 svg {
    position: relative;
    display: block;
    width: calc(185% + 1.3px);
    height: 67px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1671016006 .shape-fill {
    fill: #EEF2F5;
}
.tree-img{
    width: calc(100vw - 50%);
    height: 100%;
    width: 100%;
    position: absolute;
    top: -150px;
    right: -580px;
}

.larger-tree-img{
    display: none;
    width: calc(100vw - 50%);
    height: 100%;
    width: 100%;
    position: absolute;
    top: -100px;
    right: -450px;
}

/** For mobile devices **/
@media (max-width: 767px) {
    
}
/* For small laptops */
@media screen and (max-width: 1100px) {
    body{
        overflow: hidden;
    }
    .main-hero-section{
        height: 70%;
        width: 100%;
        background-image: url(/img/hero-container-img/main-hero-img/first-section-background.svg);
        background-size: 3000px;
        overflow: hidden;
    }

    .tree-img{
        display: none;
    }

    .larger-tree-img{
        display: block;
        width: 1636px;
        height: 1010px;
        position: absolute;
        top: -150px;
        right: -800px;
    }

    .custom-shape-divider-bottom-1671010407{
        display: none;
    }

    .custom-shape-divider-bottom-1671013283 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        display: block;
    }
    
    .custom-shape-divider-bottom-1671013283 svg {
        position: relative;
        display: block;
        width: calc(208% + 1.3px);
        height: 232px;
    }
    
    .custom-shape-divider-bottom-1671013283 .shape-fill {
        fill: #EEF2F5;
    }
}

/* For tablet view */
@media screen and (max-width: 920px){
    .navbar{
        width: 95%;
    }

    .navbar ul .list-item{
        display: none;
    }

    .navbar ul .hamburger{
        display: block;
    }

    .main-hero-section{
        height: 55%;
    }

    .custom-shape-divider-bottom-1671013283{
        display: none;
    }

    .main-hero-section{
        height: 70%;
        background-size: 2800px;
    }

    .larger-tree-img{
        display: block;
        width: 1458px;
        height: 900px;
        position: absolute;
        top: -100px;
        right: -800px;
    }
    
}

/* For mobile phones */
@media screen and (max-width: 600px){
    header{
        height: 90px;
        padding: 20px;
    }

    .header-container{
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

    .announcement-details{
        white-space: normal;
    }

    .main-hero-section{
        height: 60%;
    }

    .larger-tree-img{
        display: block;
        width: 1458px;
        height: 700px;
        position: absolute;
        background-position: 10% 40%;
        top: 100px;
        right: -890px;
    }

    .custom-shape-divider-bottom-1671016006{
        display: block;
    }

    .custom-shape-divider-bottom-1671016006 svg {
        width: calc(261% + 1.3px);
        height: 73px;
    }
}

@media screen and (max-width: 330px) {
    header{
        height: 120px;
        padding: 30px 20px;
    }

    .navbar{
        width: 90%;
    }
}