@import url(//db.onlinewebfonts.com/c/c74edeaf658e851e2c71f78b2a28d352?family=NeoSans);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Inter var';
    src: url("fonts/Inter-Black.woff") format('opentype');
    src: url("fonts/Inter-Black.woff2") format('opentype');
    src: url("fontsInter-BlackItalic.woff") format('opentype');
    src: url("fonts/Inter-BlackItalic.woff2") format('opentype');
    src: url("fonts/Inter-Bold.woff") format('opentype');
    src: url("fonts/Inter-Bold.woff2") format('opentype');
    src: url("fonts/Inter-BoldItalic.woff") format('opentype');
    src: url("fonts/Inter-BoldItalic.woff2") format('opentype');
    src: url("fonts/Inter-ExtraBold.woff") format('opentype');
    src: url("fonts/Inter-ExtraBold.woff2") format('opentype');
    src: url("fonts/Inter-ExtraBoldItalic.woff") format('opentype');
    src: url("fonts/Inter-ExtraLight.woff") format('opentype');
    src: url("fonts/Inter-ExtraLight.woff2") format('opentype');
    src: url("fonts/Inter-Light.woff") format('opentype');
    src: url("fonts/Inter-Light.woff2") format('opentype');
    src: url("fonts/Inter-Medium.woff") format('opentype');
    src: url("fonts/Inter-Regular.woff") format('opentype');
    src: url("fonts/Inter-Regular.woff2") format('opentype');
    src: url("fonts/Inter-SemiBold.woff") format('opentype');
    src: url("fonts/Inter-SemiBold.woff2") format('opentype');
    src: url("fonts/Inter-Thin.woff") format('opentype');
    src: url("fonts/Inter-Thin.woff2") format('opentype');
}

@font-face{
    font-family: 'Inter var';
    src: url("fonts/Inter-ExtraBold.woff") format('opentype');
    font-weight: 900;
}
@font-face{
    font-family: 'Inter var';
    src: url("fonts/Inter-Bold.woff") format('opentype');
    font-weight: bold;
}
@font-face{
    font-family: 'Inter var';
    src: url("fonts/Inter-Regular.woff") format('opentype');
    font-weight: 400;
}
@font-face{
    font-family: 'Inter var';
    src: url("fonts/Inter-Medium.woff") format('opentype');
    font-weight: 500;
}
@font-face{
    font-family: 'Inter var';
    src: url("fonts/Inter-SemiBold.woff") format('opentype');
    font-weight: 600;
}

@font-face {
    font-family: 'NeoSans';
    src: url("fonts2/Neo\ Sans\ Std\ Bold.zip");
    src: url("fonts2/Neo\ Sans\ Std\ Light.zip");
    src: url("fonts2/Neo\ Sans\ Std\ Regular.zip");
}

@font-face {
    font-family: 'NeoSans';
    src: url("fonts2/Neo\ Sans\ Std\ Bold.zip");
    font-weight: 400;
}

@font-face {
    font-family: 'NeoSans';
    src: url("fonts2/Neo\ Sans\ Std\ Regular.zip");
    font-weight: 500;
}

@font-face {
    font-family: 'NeoSans';
    src: url("fonts2/Neo\ Sans\ Std\ Regular.zip");
    font-weight: 700;
}

body{
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Inter var', sans-serif;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

img{
    display: inline-block;
    max-width: 100%;
}

