.button {
  display: inline-flex;
  align-items: center;
}
.header-slide__overlay {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.8) 12.96%,
    rgba(0, 64, 16, 0.184) 100%
  );
}
.news-grid {
  height: calc(50vh + 56px);
}
.featured-news__desc {
  font-size: clamp(25px, 2vw, 32px);
}

select {
  appearance: none;
}
.team-member__image:hover > .team-member__linkedin {
  transform: translateX(0);
}
.header {
  overflow: hidden;
}

.splide__arrow {
  display: none !important;
}

.splide__track {
  width: 100% !important;
}

.splide__list {
  height: 100% !important;
  width: 100% !important;
}

.slider-controls {
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .news-grid {
    height: auto;
  }
}

.has-scroll-smooth body {
  overflow: hidden !important;
}

.has-scroll-smooth .js-locomotive {
  min-height: 100vh !important;
  width: 100% !important;
}

/* Overwrites */
.footer-logo {
  background-image: url('../images/new-nnpc-logo.png');
}

.logo {
  background-position: 50% 20% !important;
  background-size: 100px !important;
  background-color: transparent !important;
}

.business-block__image.gas-power {
  background-image: url('../images/gas-plant.jpg') !important;
}

.logo {
  background-color: transparent;
}

.featured-news {
  text-decoration: none;
  color: black;
}

.footer-links-wrapper {
  padding-left: 10px !important;
}

.wp-block-columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  margin-top: 40px;
}
.wp-block-column {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 16px;
  line-height: 1.625;
  flex-shrink: 0;
}
.wp-block-column img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.wp-block-column > figure {
  height: 400px;
  margin-bottom: 23px;
}

.wp-block-image {
  height: 400px;
  margin-bottom: 23px;
}

.wp-block-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

figure {
  margin: 0px;
}

figcaption {
  font-size: 16px;
  font-family: Neuemontreal, sans-serif;
  margin-bottom: 30px;
  text-align: left;
}

.post-body tr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  margin-top: 40px;
}

.post-body td {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 16px;
  line-height: 1.625;
}

.post-body td > .image {
  height: 400px;
  margin-bottom: 23px;
}

.post-body .image > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.post-body .image {
  margin-top: 40px;
  height: 400px;
  margin-bottom: 23px;
}

.post-body img {
  /* margin: 10px 0px; */
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.post-body table,
.post-body .table {
  margin: 25px 0px;
}

.header.secondary-pages {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-body-wrapper {
  cursor: pointer;
}

.transition-page-enter-active,
.transition-page-leave-active {
  transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
}

.transition-page-enter,
.transition-page-leave-to {
  opacity: 0;
}

/* list transtions */

.list-enter-active,
.list-leave-active {
  transition: all 1s;
}
.list-enter,
.list-leave-to {
  opacity: 0;
}

.social-media-link__icon.yt {
  background-image: url('../images/youtube_1_.svg');
}

.w-slide table {
  margin: 0px !important;
  width: 96% !important;
  border: 1px solid white !important;
}

.oil-flex {
  display: flex;
  justify-content: center;
}

.footer-logo-flex {
  margin-bottom: 85px;
}

.w-slider-mask,
.price-slider-wrapper {
  height: 350px !important;
  margin-bottom: 150px;
}

@media screen and (max-width: 991px) {
  .post-body .image {
    height: 350px;
    margin-bottom: 20px;
  }

  .footer-logo-flex {
    margin-bottom: 30px;
  }

  .w-slider-mask,
  .price-slider-wrapper {
    height: 210px !important;
    margin-bottom: 0px;
  }

  .w-slide table {
    /* width: 23.1% !important; */
  }
}
@media screen and (max-width: 767px) {
  .post-body tr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .post-body .table {
    margin-top: 100px;
  }

  .post-body .image {
    height: 350px;
    margin-bottom: 20px;
  }
  figcaption {
    font-size: 14px;
    text-align: left;
  }
}
@media screen and (max-width: 479px) {
  .post-body .image {
    height: 300px;
  }

  .post-body .table,
  .post-body table {
    margin: 100px 0px;
  }

  .w-slide {
    /* width: 57% !important; */
  }
}
